.footer {
  background: var(--SecondaryColor);

  .sectionContainer {
    gap: 3rem;

    .gridOne {
      gap: 1rem;
      justify-content: center;
      margin: auto;

      .logoDiv {
        .Logo {
          width: 20%;
        }
      }

      .socialIcon {
        margin-top: 1rem;
        gap: 1rem;

        .icon {
          height: 50px;
          width: 30px;
          border-radius: 10rem;
          border: 1px solid var(--borderColor);
          box-shadow: var(--boxShadow);
          padding: 0.4rem;
          color: var(--greyText);

          &:hover {
            background: var(--PrimaryColor);
            transform: translateY(-7px);
            transition: var(--transition);
            border: 1px solid var(--PrimaryColor);
            color: var(--whiteColor);
          }
        }
      }
    }

    .footerLinks {
      display: grid;
      text-align: center;
      padding-top: 2rem;

      .linkTitle {
        color: var(--blackColor);
        font-weight: 500;
        display: block;
        padding-bottom: 1rem;
      }

      li a {
        display: block;
        color: var(--greyText);
        transition: var(--transition);
        padding: 0.3rem 0;

        &:hover {
          transform: translateX(7px);
          color: var(--PrimaryColor);
        }
      }

      .iconDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--SecondaryColor);
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid var(--borderColor);
        margin-right: 1rem;
        margin-top: 8px;
        margin-bottom: 8px;
        cursor: default;

        .infoIcon {
          color: var(--greyText);
          font-size: 15px;
        }
      }
    }
  }
  .copyRightDiv {
    justify-content: center;
    margin-top: 1.5rem;
    padding: 1rem;
    gap: 1rem;
    border-top: 1px solid var(--greyText);
    text-align: center;
  }
}

/* DarkMode */
#dark {
  .footer {
    background: var(--borderColor);

    .sectionContainer {
      .gridOne {
        p {
          color: var(--blackColor);
        }

        .socialIcon {
          .icon {
            border: 1px solid var(--greyText);
            color: var(--blackColor);

            &:hover {
              background: var(--greyText);
              border: 1px solid var(--greyText);
              color: var(--blackColor);
            }
          }
        }
      }

      .footerLinks {
        .linkTitle {
          color: var(--blackColor);
        }
        li a {
          color: var(--greyText);
          transition: var(--transition);
          &:hover {
            color: var(--blackColor);
          }
        }
        .iconDiv {
          background: var(--borderColor);
          border: 1px solid var(--greyText);

          .infoIcon {
            color: var(--blackColor);
          }
        }
      }
    }
    .copyRightDiv {
      border-top: 1px solid var(--blackColor);
      p {
        color: var(--blackColor);
      }
    }
  }
}
