.socials {
  .sectionContainer {
    text-align: center;

    .socialsContainer {
      margin-top: 1rem;
      gap: 1.5rem;

      .singlesocial {
        position: relative;
        height: 320px;
        width: 85%;
        max-width: 250px;
        overflow: hidden;
        border-radius: 10rem;
        gap: 1rem;
        margin: auto;

        .backgroundImage,
        .socialImage,
        .socialName {
          position: absolute;
        }

        .backgroundImage {
          height: 100%;
          width: 100%;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          object-fit: cover;
        }

        .socialImage {
          height: 50px;
          width: 50px;
          object-fit: cover;
          border-radius: 50%;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
          border: 5px solid rgba(225, 225, 225, 0.637);
          transition: var(--transition);
          animation: animated 2.3s infinite;
        }

        @keyframes animated {
          0% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(8px);
          }
          100% {
            transform: translateY(0px);
          }
        }

        .socialName {
          bottom: -100%;
          width: 100%;
          height: max-content;
          background: var(--whiteColor);
          padding: 1.5rem 1rem;
          transition: var(--transition);
          animation: animatedBorders 2.3s infinite;

          span {
            color: black;
            color: black;
            font-weight: 700;
          }

          p {
            color: var(--PrimaryColor);
            font-style: italic;
          }
        }

        @keyframes animatedBorders {
          0% {
            border-radius: 0rem;
          }
          50% {
            border-radius: 2rem;
          }
          100% {
            border-radius: 0rem;
          }
        }

        &:hover {
          .socialName {
            bottom: 0;
            transition: 1s ease-in-out;
          }

          .socialImage {
            bottom: 110px;
            transition: 1s ease-in-out;
          }
        }
      }
    }
  }
}
