.project4 {
  background: #f5d5ce;
  height: 100vh;
  overflow-y: scroll;
  padding-right: 15px;

  .backIcon {
    position: fixed;
    right: 3rem;
    top: 2rem;
    padding-right: 2rem;
    opacity: 0.6;
    outline: none;
    color: var(--whiteColor);
    cursor: pointer;
  }
  .backIcon:hover {
    transform: scale(1.1);
    transition: var(--transition);
  }

  .projectDiv {
    background: var(--whiteColor);
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    .projectTitle {
      justify-content: space-between;
    }

    .imgContainer {
      margin: auto;
      margin-top: 1rem;
      /* margin-bottom: 1rem; */
      justify-content: center;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}

.project4::-webkit-scrollbar {
  width: 10px;
  background: #f5d5ce;
}

.project4::-webkit-scrollbar-thumb {
  background: var(--whiteColor);
  border-radius: 10px;
}

/* #dark {
  .projectPage {
    background: var(--blackColor);
    .projectDiv {
      background: var(--borderColor);
    }
  }
} */
