.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;

  .overlay {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(
      105deg,
      transparent 40%,
      rgba(255, 255, 255, 0.3) 48%,
      transparent 60%
    );
    filter: brightness(1) opacity(0.4);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
  }

  .yoo-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 55px;
    object-fit: cover;
  }

  .mainText {
    color: var(--blackColor);
    font-weight: 700;
    font-size: 25px;
    line-height: 2.5rem;
  }

  .subText {
    color: var(--greyText);
    font-weight: 600;
    font-size: 18px;
    line-height: 2.5rem;
    margin-bottom: 20px;
  }

  .homeImages {
    width: 100%;
    margin: 1rem auto 0;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5rem;
  }
}

/* Dark Mode */
#dark {
  .mainText {
    color: var(--borderColor);
  }
}
